# Project1: Scraping a table

In [1]:
import requests
from bs4 import BeautifulSoup


#Imports the HTML into python
url = 'https://www.worldometers.info/world-population/'

page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml') # lxml vs html.parser : lxml in faster but has c dependencies

In [2]:
#Subsets the HTML to only get the HTML of our table needed
table = soup.find('table', class_ = 'table table-striped table-bordered table-hover table-condensed table-list')

In [3]:
print(table)

<table class="table table-striped table-bordered table-hover table-condensed table-list"><thead> <tr> <th>Year<br/> (July 1) </th><th>Population</th><th>Yearly % <br/> Change</th><th>Yearly<br/> Change</th><th>Median <br/>Age</th><th>Fertility <br/>Rate</th><th>Density <br/>(P/Km²)</th> </tr></thead><tbody> <tr> <td>2024</td> <td><strong>8,161,972,572</strong></td> <td>0.87 %</td> <td>70,237,642</td> <td>30.6</td> <td>2.25</td> <td>55</td> </tr> <tr> <td>2023</td> <td><strong>8,091,734,930</strong></td> <td>0.88 %</td> <td>70,327,738</td> <td>30.4</td> <td>2.25</td> <td>54</td> </tr> <tr> <td>2022</td> <td><strong>8,021,407,192</strong></td> <td>0.84 %</td> <td>66,958,801</td> <td>30.1</td> <td>2.27</td> <td>54</td> </tr> <tr> <td>2021</td> <td><strong>7,954,448,391</strong></td> <td>0.86 %</td> <td>67,447,099</td> <td>29.8</td> <td>2.29</td> <td>53</td> </tr> <tr> <td>2020</td> <td><strong>7,887,001,292</strong></td> <td>0.97 %</td> <td>75,707,594</td> <td>29.6</td> <td>2.32</td> <td>53</td> </tr><tr> <td>2015</td> <td><strong>7,470,491,872</strong></td> <td>1.25 %</td> <td>89,751,945</td> <td>28</td> <td>2.54</td> <td>50</td> </tr><tr> <td>2010</td> <td><strong>7,021,732,148</strong></td> <td>1.29 %</td> <td>86,952,403</td> <td>27</td> <td>2.60</td> <td>47</td> </tr><tr> <td>2005</td> <td><strong>6,586,970,132</strong></td> <td>1.31 %</td> <td>83,053,428</td> <td>26</td> <td>2.63</td> <td>44</td> </tr><tr> <td>2000</td> <td><strong>6,171,702,993</strong></td> <td>1.39 %</td> <td>82,564,802</td> <td>25</td> <td>2.75</td> <td>41</td> </tr><tr> <td>1995</td> <td><strong>5,758,878,982</strong></td> <td>1.57 %</td> <td>86,215,174</td> <td>24</td> <td>2.89</td> <td>39</td> </tr><tr> <td>1990</td> <td><strong>5,327,803,110</strong></td> <td>1.82 %</td> <td>91,771,929</td> <td>23</td> <td>3.31</td> <td>36</td> </tr><tr> <td>1985</td> <td><strong>4,868,943,465</strong></td> <td>1.83 %</td> <td>84,267,446</td> <td>22</td><td>3.52</td> <td>33</td> </tr><tr> <td>1980</td> <td><strong>4,447,606,236</strong></td> <td>1.79 %</td> <td>75,374,192</td> <td>21</td> <td>3.74</td> <td>30</td> </tr><tr> <td>1975</td> <td><strong>4,070,735,277</strong></td> <td>1.96 %</td> <td>75,210,297</td> <td>21</td> <td>4.08</td> <td>27</td> </tr><tr> <td>1970</td> <td><strong>3,694,683,794</strong></td> <td>2.07 %</td> <td>72,030,018</td> <td>20</td><td>4.83</td> <td>25</td> </tr><tr> <td>1965</td> <td><strong>3,334,533,703</strong></td> <td>2.03 %</td> <td>63,812,562</td> <td>21</td> <td>5.07</td> <td>22</td> </tr><tr> <td>1960</td> <td><strong>3,015,470,894</strong></td> <td>1.93 %</td> <td>55,051,420</td> <td>21</td> <td>4.70</td> <td>20</td> </tr><tr> <td>1955</td> <td><strong>2,740,213,792</strong></td> <td>1.91 %</td> <td>49,424,189</td> <td>22</td> <td>5.00</td> <td>18</td> </tr></tbody></table>

In [4]:
print(table.prettify())

<table class="table table-striped table-bordered table-hover table-condensed table-list">
 <thead>
  <tr>
   <th>
    Year
    <br/>
    (July 1)
   </th>
   <th>
    Population
   </th>
   <th>
    Yearly %
    <br/>
    Change
   </th>
   <th>
    Yearly
    <br/>
    Change
   </th>
   <th>
    Median
    <br/>
    Age
   </th>
   <th>
    Fertility
    <br/>
    Rate
   </th>
   <th>
    Density
    <br/>
    (P/Km²)
   </th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td>
    2024
   </td>
   <td>
    <strong>
     8,161,972,572
    </strong>
   </td>
   <td>
    0.87 %
   </td>
   <td>
    70,237,642
   </td>
   <td>
    30.6
   </td>
   <td>
    2.25
   </td>
   <td>
    55
   </td>
  </tr>
  <tr>
   <td>
    2023
   </td>
   <td>
    <strong>
     8,091,734,930
    </strong>
   </td>
   <td>
    0.88 %
   </td>
   <td>
    70,327,738
   </td>
   <td>
    30.4
   </td>
   <td>
    2.25
   </td>
   <td>
    54
   </td>
  </tr>
  <tr>
   <td>
    2022
   </td>
   <td>
    <strong>
     8,021,407,192
    </strong>
   </td>
   <td>
    0.84 %
   </td>
   <td>
    66,958,801
   </td>
   <td>
    30.1
   </td>
   <td>
    2.27
   </td>
   <td>
    54
   </td>
  </tr>
  <tr>
   <td>
    2021
   </td>
   <td>
    <strong>
     7,954,448,391
    </strong>
   </td>
   <td>
    0.86 %
   </td>
   <td>
    67,447,099
   </td>
   <td>
    29.8
   </td>
   <td>
    2.29
   </td>
   <td>
    53
   </td>
  </tr>
  <tr>
   <td>
    2020
   </td>
   <td>
    <strong>
     7,887,001,292
    </strong>
   </td>
   <td>
    0.97 %
   </td>
   <td>
    75,707,594
   </td>
   <td>
    29.6
   </td>
   <td>
    2.32
   </td>
   <td>
    53
   </td>
  </tr>
  <tr>
   <td>
    2015
   </td>
   <td>
    <strong>
     7,470,491,872
    </strong>
   </td>
   <td>
    1.25 %
   </td>
   <td>
    89,751,945
   </td>
   <td>
    28
   </td>
   <td>
    2.54
   </td>
   <td>
    50
   </td>
  </tr>
  <tr>
   <td>
    2010
   </td>
   <td>
    <strong>
     7,021,732,148
    </strong>
   </td>
   <td>
    1.29 %
   </td>
   <td>
    86,952,403
   </td>
   <td>
    27
   </td>
   <td>
    2.60
   </td>
   <td>
    47
   </td>
  </tr>
  <tr>
   <td>
    2005
   </td>
   <td>
    <strong>
     6,586,970,132
    </strong>
   </td>
   <td>
    1.31 %
   </td>
   <td>
    83,053,428
   </td>
   <td>
    26
   </td>
   <td>
    2.63
   </td>
   <td>
    44
   </td>
  </tr>
  <tr>
   <td>
    2000
   </td>
   <td>
    <strong>
     6,171,702,993
    </strong>
   </td>
   <td>
    1.39 %
   </td>
   <td>
    82,564,802
   </td>
   <td>
    25
   </td>
   <td>
    2.75
   </td>
   <td>
    41
   </td>
  </tr>
  <tr>
   <td>
    1995
   </td>
   <td>
    <strong>
     5,758,878,982
    </strong>
   </td>
   <td>
    1.57 %
   </td>
   <td>
    86,215,174
   </td>
   <td>
    24
   </td>
   <td>
    2.89
   </td>
   <td>
    39
   </td>
  </tr>
  <tr>
   <td>
    1990
   </td>
   <td>
    <strong>
     5,327,803,110
    </strong>
   </td>
   <td>
    1.82 %
   </td>
   <td>
    91,771,929
   </td>
   <td>
    23
   </td>
   <td>
    3.31
   </td>
   <td>
    36
   </td>
  </tr>
  <tr>
   <td>
    1985
   </td>
   <td>
    <strong>
     4,868,943,465
    </strong>
   </td>
   <td>
    1.83 %
   </td>
   <td>
    84,267,446
   </td>
   <td>
    22
   </td>
   <td>
    3.52
   </td>
   <td>
    33
   </td>
  </tr>
  <tr>
   <td>
    1980
   </td>
   <td>
    <strong>
     4,447,606,236
    </strong>
   </td>
   <td>
    1.79 %
   </td>
   <td>
    75,374,192
   </td>
   <td>
    21
   </td>
   <td>
    3.74
   </td>
   <td>
    30
   </td>
  </tr>
  <tr>
   <td>
    1975
   </td>
   <td>
    <strong>
     4,070,735,277
    </strong>
   </td>
   <td>
    1.96 %
   </td>
   <td>
    75,210,297
   </td>
   <td>
    21
   </td>
   <td>
    4.08
   </td>
   <td>
    27
   </td>
  </tr>
  <tr>
   <td>
    1970
   </td>
   <td>
    <strong>
     3,694,683,794
    </strong>
   </td>
   <td>
    2.07 %
   </td>
   <td>
    72,030,018
   </td>
   <td>
    20
   </td>
   <td>
    4.83
   </td>
   <td>
    25
   </td>
  </tr>
  <tr>
   <td>
    1965
   </td>
   <td>
    <strong>
     3,334,533,703
    </strong>
   </td>
   <td>
    2.03 %
   </td>
   <td>
    63,812,562
   </td>
   <td>
    21
   </td>
   <td>
    5.07
   </td>
   <td>
    22
   </td>
  </tr>
  <tr>
   <td>
    1960
   </td>
   <td>
    <strong>
     3,015,470,894
    </strong>
   </td>
   <td>
    1.93 %
   </td>
   <td>
    55,051,420
   </td>
   <td>
    21
   </td>
   <td>
    4.70
   </td>
   <td>
    20
   </td>
  </tr>
  <tr>
   <td>
    1955
   </td>
   <td>
    <strong>
     2,740,213,792
    </strong>
   </td>
   <td>
    1.91 %
   </td>
   <td>
    49,424,189
   </td>
   <td>
    22
   </td>
   <td>
    5.00
   </td>
   <td>
    18
   </td>
  </tr>
 </tbody>
</table>

In [5]:
table.find_all('th')

[<th>Year<br/> (July 1) </th>,
 <th>Population</th>,
 <th>Yearly % <br/> Change</th>,
 <th>Yearly<br/> Change</th>,
 <th>Median <br/>Age</th>,
 <th>Fertility <br/>Rate</th>,
 <th>Density <br/>(P/Km²)</th>]

In [6]:
for i in table.find_all('th'):
    print(i.text.strip())

Year (July 1)
Population
Yearly %  Change
Yearly Change
Median Age
Fertility Rate
Density (P/Km²)

In [7]:
#Gets all the column headers of our table
headers = []
for i in table.find_all('th'):
    title = i.text.strip()
    headers.append(title)

In [8]:
print(headers)

['Year (July 1)', 'Population', 'Yearly %  Change', 'Yearly Change', 'Median Age', 'Fertility Rate', 'Density (P/Km²)']

In [9]:
table.find_all('tr')[1]

In [10]:
#gets all our data within the table and adds it to our list
my_list = []
for j in table.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [tr.text for tr in row_data]
    my_list.append(row)

In [11]:
my_list

[['2024', '8,161,972,572', '0.87 %', '70,237,642', '30.6', '2.25', '55'],
 ['2023', '8,091,734,930', '0.88 %', '70,327,738', '30.4', '2.25', '54'],
 ['2022', '8,021,407,192', '0.84 %', '66,958,801', '30.1', '2.27', '54'],
 ['2021', '7,954,448,391', '0.86 %', '67,447,099', '29.8', '2.29', '53'],
 ['2020', '7,887,001,292', '0.97 %', '75,707,594', '29.6', '2.32', '53'],
 ['2015', '7,470,491,872', '1.25 %', '89,751,945', '28', '2.54', '50'],
 ['2010', '7,021,732,148', '1.29 %', '86,952,403', '27', '2.60', '47'],
 ['2005', '6,586,970,132', '1.31 %', '83,053,428', '26', '2.63', '44'],
 ['2000', '6,171,702,993', '1.39 %', '82,564,802', '25', '2.75', '41'],
 ['1995', '5,758,878,982', '1.57 %', '86,215,174', '24', '2.89', '39'],
 ['1990', '5,327,803,110', '1.82 %', '91,771,929', '23', '3.31', '36'],
 ['1985', '4,868,943,465', '1.83 %', '84,267,446', '22', '3.52', '33'],
 ['1980', '4,447,606,236', '1.79 %', '75,374,192', '21', '3.74', '30'],
 ['1975', '4,070,735,277', '1.96 %', '75,210,297', '21', '4.08', '27'],
 ['1970', '3,694,683,794', '2.07 %', '72,030,018', '20', '4.83', '25'],
 ['1965', '3,334,533,703', '2.03 %', '63,812,562', '21', '5.07', '22'],
 ['1960', '3,015,470,894', '1.93 %', '55,051,420', '21', '4.70', '20'],
 ['1955', '2,740,213,792', '1.91 %', '49,424,189', '22', '5.00', '18']]

In [13]:
import pandas as pd # import numpy as np
df =  pd.DataFrame(my_list, columns = headers)

In [15]:
df

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
0,2024,"8,161,972,572",0.87 %,"70,237,642",30.6,2.25,55
1,2023,"8,091,734,930",0.88 %,"70,327,738",30.4,2.25,54
2,2022,"8,021,407,192",0.84 %,"66,958,801",30.1,2.27,54
3,2021,"7,954,448,391",0.86 %,"67,447,099",29.8,2.29,53
4,2020,"7,887,001,292",0.97 %,"75,707,594",29.6,2.32,53
5,2015,"7,470,491,872",1.25 %,"89,751,945",28,2.54,50
6,2010,"7,021,732,148",1.29 %,"86,952,403",27,2.60,47
7,2005,"6,586,970,132",1.31 %,"83,053,428",26,2.63,44
8,2000,"6,171,702,993",1.39 %,"82,564,802",25,2.75,41
9,1995,"5,758,878,982",1.57 %,"86,215,174",24,2.89,39
10,1990,"5,327,803,110",1.82 %,"91,771,929",23,3.31,36
11,1985,"4,868,943,465",1.83 %,"84,267,446",22,3.52,33
12,1980,"4,447,606,236",1.79 %,"75,374,192",21,3.74,30
13,1975,"4,070,735,277",1.96 %,"75,210,297",21,4.08,27
14,1970,"3,694,683,794",2.07 %,"72,030,018",20,4.83,25
15,1965,"3,334,533,703",2.03 %,"63,812,562",21,5.07,22
16,1960,"3,015,470,894",1.93 %,"55,051,420",21,4.70,20
17,1955,"2,740,213,792",1.91 %,"49,424,189",22,5.00,18

In [16]:
df.loc[0, 'Population']

'8,161,972,572'

In [17]:
df.iloc[0, 1]

'8,161,972,572'

In [18]:
df.sort_values(by=['Median Age'])

,Year (July 1),Population,Yearly % Change,Yearly Change,Median Age,Fertility Rate,Density (P/Km²)
14,1970,"3,694,683,794",2.07 %,"72,030,018",20,4.83,25
15,1965,"3,334,533,703",2.03 %,"63,812,562",21,5.07,22
13,1975,"4,070,735,277",1.96 %,"75,210,297",21,4.08,27
12,1980,"4,447,606,236",1.79 %,"75,374,192",21,3.74,30
16,1960,"3,015,470,894",1.93 %,"55,051,420",21,4.70,20
17,1955,"2,740,213,792",1.91 %,"49,424,189",22,5.00,18
11,1985,"4,868,943,465",1.83 %,"84,267,446",22,3.52,33
10,1990,"5,327,803,110",1.82 %,"91,771,929",23,3.31,36
9,1995,"5,758,878,982",1.57 %,"86,215,174",24,2.89,39
8,2000,"6,171,702,993",1.39 %,"82,564,802",25,2.75,41
7,2005,"6,586,970,132",1.31 %,"83,053,428",26,2.63,44
6,2010,"7,021,732,148",1.29 %,"86,952,403",27,2.60,47
5,2015,"7,470,491,872",1.25 %,"89,751,945",28,2.54,50
4,2020,"7,887,001,292",0.97 %,"75,707,594",29.6,2.32,53
3,2021,"7,954,448,391",0.86 %,"67,447,099",29.8,2.29,53
2,2022,"8,021,407,192",0.84 %,"66,958,801",30.1,2.27,54
1,2023,"8,091,734,930",0.88 %,"70,327,738",30.4,2.25,54
0,2024,"8,161,972,572",0.87 %,"70,237,642",30.6,2.25,55

In [ ]:
#exports the data as an excel file
df.to_excel('word_population.xlsx')